@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.bg-footer {
  /* font-family: "Poppins", sans-serif; */
  color: #f2f2f0;
  background-image: linear-gradient(-45deg, white, rgba(100, 185, 233, 1), rgba(100, 185, 233, 0.4));
}

.bg-footer-2 {
  background-color: #fff;
  /* background-image: linear-gradient(180deg, white, rgba(100, 185, 233, 1) 100%); */
  color: #1f1f24;
  /* color: #f2f2f0; */
}

.bg {
  background-image: linear-gradient(-45deg, white, rgba(100, 185, 233, 1), rgba(100, 185, 233, 0.4));
  background-size: cover;
}

.brand {
  font-family: "Forum", cursive;
  font-size: 38px;
}
.caption-quote {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.caption-quote2 {
  color: #029caa;
}
.desc-quote {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.title-layanan {
  color: #02a9b4;
  font-family: "Poppins", sans-serif;
}

.news-font {
  font-family: "Poppins", sans-serif;
  /* color: #1f1f24; */
  color: #02a9b4;
}

.news-font-posision {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.bdr {
  border-radius: 6px;
}

.nav-link {
  border: 2px;
  border-radius: 25px;
}

.nav-link:hover {
  background-color: rgb(16, 173, 231, 1);
  border: 2px;
  border-radius: 25px;
}

.hover:hover {
  transform: scale(0.95);
  transition: all 0.4s ease-in-out;
}

.content-img {
  height: 10rem;
}

.navi {
  padding: 10px;
}

.jak {
  display: block;
  margin-top: 250px;
}
.sdw:hover {
  box-shadow: 2px 5px 50px rgba(11, 151, 238, 0.8);
  padding: 1px;
}

.pjg {
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.btn-color {
  color: #02a9b4;
}

/* untuk Lokasl */
.fcc-btn {
  background-color: #acdefb;
  color: white;
  padding: 5px;
  text-decoration: none;
  border: 2px;
  border-radius: 10px;
}

/* untuk jadwal */
.gam {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Page berita */
.informasi {
  padding: 2.6rem 10.3rem;
  margin: 2rem 0;
}
.informasi .title {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.informasi .card-wrap {
  margin: 8rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
}
.informasi .card-wrap .card-item {
  display: grid;
  grid-template-rows: repeat(12, 40px);
  flex: 0 0 30%;
  background: #ffffff;
  border-radius: 11.3rem;
  padding: 1rem 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.informasi .card-wrap .card-item .img {
  grid-row: 1/6;
  display: flex;
  justify-content: center;
}
.informasi .card-wrap .card-item .img img {
  height: 80%;
}
.informasi .card-wrap .card-item .card-title {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  grid-row: 6/8;
}
.informasi .card-wrap .card-item p {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 2rem;
  grid-row: 8/11;
}
.informasi .card-wrap .card-item .card-footer {
  align-self: end;
  display: flex;
  justify-content: center;
  grid-row: 11/13;
}

/* Button berita utama */
.click-more {
  padding: 10px 30px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
  letter-spacing: 1.5px;
  font-size: 13px;
  transition: all 0.5s ease;
}

.click-more a {
  text-decoration: none;
  color: inherit;
}

.click-more:hover {
  letter-spacing: 3px;
  background-color: #02a9b4;
  color: hsl(0, 0%, 100%);
}

.click-more:active {
  letter-spacing: 3px;
  background-color: #02a9b4;
  color: hsl(0, 0%, 100%);
  transform: translateY(10px);
  transition: 100ms;
}

/* Button berita isi */
.btn-more {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #02a9b4;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff;
}

.btn-more:hover {
  background: #02a9b4;
}

.btn-more a {
  color: inherit;
  text-decoration: none;
}

.btn-more > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.btn-more:hover svg {
  transform: translateX(5px);
}

.btn-more:active {
  transform: scale(0.95);
}

/* background: #02a9b4; */
/*  */

@media screen and (min-width: 576px) {
  .navi {
    padding-top: 20%;
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 768px) {
  .navi {
    padding-top: 15%;
    padding-bottom: 5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .navi {
    padding-top: 10%;
    padding-bottom: 5%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .navi {
    padding-top: 10%;
    padding-bottom: 5%;
  }
}

/* Table */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 10px 10px;
  border: 2px;
  background-color: rgba(255, 250, 250, 0.5);
  background-color: #fff;
}

.content-table thead tr {
  background-color: #02a9b4;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 5px solid rgba(100, 185, 233, 0.5);
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #02a9b4;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #02a9b4;
}

.tbl-img {
  height: 75px;
}
